/*CONTAINS WEBSITE*/
#container {
    width: 1200px;
    height: 750px;
    margin:auto;
}

#mainSec {
    height: 450px; 
    width: 1200px;
    background-color:  #fffbf0;

}

/*HEADER*/

.banner {
    width:1200px;
    height:250px;
    margin:auto;
    
    text-align:center;
    transition-duration:2s; 
    animation-iteration-count:animation1 10s infinite;
    animation:colorAnimation 5s infinite alternate; 
}

#duck {
    position:relative;
    top:155px;
    animation: duckMove 15s infinite;
}

@keyframes duckMove {
    0% {
        right:50px;
    }
    25% {
        right: 240px;
    }
    50% {
        right: 720px;

    }
    75%{
        right: 960px;

    }
    100%{
        right: 1000px;


    }
}

@keyframes colorAnimation {
    0% {
        background-color:rgb(32, 88, 69);
    }
    25% {
        background-color:rgb(68, 114, 98);

    }
    50% {
        background-color:rgb(27, 126, 91);

    }
    75%{
        background-color:rgb(46, 65, 58);

    }
    100%{
        background-color:rgb(27, 85, 35);
    }
}

/*@keyframes animation1 {
    0% {
        background-image: url(images/duck-02.png);
        background-size:cover;
    }
    10%{
        background-image: url(images/duck-02.png);
        background-size:cover;
    }
    20%{
        background-image: url(images/duck-03.png);
        background-size:cover; 
    } 
    30%{
        background-image: url(images/duck-04.png);
        background-size:cover;
    }
    45% {
        background-image: url(images/duck-05.png);
        background-size:cover;
    } 
    50% {
        background-image: url(images/duck-06.png);
        background-size:cover;
    }
    60% {
        background-image: url(images/duck-07.png);
        background-size:cover;
    }
    70% {
        background-image: url(images/duck-08.png);
        background-size:cover;
    }
    80% {
        background-image: url(images/duck-09.png);
        background-size:cover;
    }
    90% {
        background-image: url(images/duck-10.png);
        background-size:cover;
    }
    100% {
        background-image: url(images/duck-02.png);
        background-size:cover;
    }
}
*/

.banner:hover{
    background-image:url(images/pond.jpg);
    background-size:cover;
}


header h1 {
    margin:0;
    padding-top:40px;
    font-family:'Russo One', sans-serif;
    font-size: 70px;
    font-weight:400;
    color: #fffbf0;
   
}
/*when you hover, header text changes colors and enlarges slightly*/
h1:hover {
    color: #fa89a0;
    font-size:75px;
    cursor:pointer;
  
}

header h2 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size:25px;
    font-weight:400;
    color:#ffd4bd;

}


header{
    display:flex;
}

#flower {
    width:150px;
    height:150px;
    animation-name:animation2;
    animation-iteration-count: infinite;
    animation-duration:2s;
}

@keyframes animation2{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


/*BODY*/


h2{
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    color:#273327;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    
}

main{
    
    display:flex;
    justify-content:center;
    margin:auto;
    padding:20px;
    gap:28px;
}


section {
    padding-top:25px;
    padding-bottom:25px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius:10px;
}

#sec1 {
    background-color:#fad2d4;
    box-shadow: 3px 1px 5px;
    color: #a7cebc;

}

#sec2 {
    background-color: #eb946e;
    box-shadow: 3px 1px 5px;
    color: #a7cebc;

}

#sec3 {
    background-color:#fa89a0;
    box-shadow: 3px 1px 5px;
    color: #a7cebc;
}

ul {
    list-style-type: none; 
    padding:0;
    margin:0;
}

ul li {
    margin-top:20px;
}

ul li a{
    color:#361d2c;
    text-decoration: none;   
    background-color: #fffbf0;  
    padding: 5px;
    border-radius:8px;
    font-size: 16px;

}

ul li a:hover {
    background-color:  #ddffef;  
    cursor:pointer;
    
}


/*FOOTER*/
footer {
    color:#ddffef;
    background-color: rgb(32, 88, 69);
    margin:auto;
    list-style-type:none;
    padding:0px;
    height:50px;
    text-align:center;
  
}

footer address {
    padding-top:15px;
}

footer a{
    font-family:'Poppins', sans-serif;
    font-weight:400;
    color:#ddffef;
    text-decoration:none;
    padding-top:10px;
}
