/*CONTAINS WEBSITE*/
#container {
    width: 1200px;
    height: 750px;
}

#mainSec {
    height: 450px; 
    width: 1200px;
    background-color:  #fffbf0;

}

/*HEADER*/

.banner {
    width:1200px;
    height:250px;
    margin:auto;
   /* background-color: rgb(32, 88, 69);*/
    text-align:center;
    transition-duration:2s; 
    animation-iteration-count:infinite;
    animation-name:animation1;
    animation-duration:10s;
 
}

@keyframes animation1 {
    0% {
        background-image: url(images/duck1-01.png);
        background-size:cover;
    }
    10%{
        background-image: url(images/duck1-02.png);
        background-size:cover;
    }
    20%{
        background-image: url(images/duck1-03.png);
        background-size:cover; 
    } 
    30%{
        background-image: url(images/duck1-04.png);
        background-size:cover;
    }
    45% {
        background-image: url(images/duck1-05.png);
        background-size:cover;
    } 
    50% {
        background-image: url(images/duck1-06.png);
        background-size:cover;
    }
    60% {
        background-image: url(images/duck1-07.png);
        background-size:cover;
    }
    70% {
        background-image: url(images/duck1-08.png);
        background-size:cover;
    }
    80% {
        background-image: url(images/duck1-09.png);
        background-size:cover;
    }
    90% {
        background-image: url(images/duck1-10.png);
        background-size:cover;
    }
    100% {
        background-image: url(images/duck1-01.png);
        background-size:cover;
    }
}



/*
#banner:hover{
    background: rgb(228,129,57);
background: radial-gradient(circle, rgba(228,129,57,1) 0%, rgba(255,124,161,1) 100%);
    animation: fadeIn 1s forwards;
}


@keyframes fadeIn{
    from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
 }
 
 @keyframes fadeOut{
    from {
       opacity: 1;
    }
    to {
       opacity: 0;
    }
 }

header {
    display:flex;
    justify-content:center;
}
*/

header h1 {
    margin:0;
    padding-top:40px;
    font-family:'Russo One', sans-serif;
    font-size: 70px;
    font-weight:400;
    color: #fffbf0;
   
}

h1:hover {
    color: #fa89a0;
    font-size:75px;
}

header h2 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size:25px;
    font-weight:400;
    color:#ffd4bd;

}

/*rotate image*/
/*#fire {
    position:relative;
    width:170px;
    height:170px;
    animation-iteration-count: animation1 1s linear infinite;
}

@keyframes animation1{
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
/*

/*BODY*/


h2{
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    color:#273327;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight:400;
}

main{
    
    display:flex;
    justify-content:center;
    margin:auto;
    padding:20px;
    gap:28px;
}


section {
    padding-top:25px;
    padding-bottom:25px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius:10px;
}

#sec1 {
    background-color:#fad2d4;
    box-shadow: 3px 1px 5px;
    color: #a7cebc;

}

#sec2 {
    background-color: #eb946e;
    box-shadow: 3px 1px 5px;
    color: #a7cebc;

}

#sec3 {
    background-color:#fa89a0;
    box-shadow: 3px 1px 5px;
    color: #a7cebc;
}

ul {
    list-style-type: none; 
    padding:0;
    margin:0;
}

ul li {
    margin-top:20px;
}

ul li a{
    color:#361d2c;
    text-decoration: none;   
    background-color: #fffbf0;  
    padding: 5px;
    border-radius:8px;
}

ul li a:hover {
    background-color:  #ddffef;  

}


/*FOOTER*/
footer {
    background-color: rgb(32, 88, 69);
    margin:auto;
    list-style-type:none;
    padding:0px;
    height:50px;
    
}

footer{
    text-align:center;
}

footer a{
    font-family:'Russo One', sans-serif;
    color:#ddffef;
    text-decoration:none;
}
