/*OVERALL BODY*/


body {
    margin:auto;
    width:1200px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}


#container {
    display:grid;
    grid-template-columns: 600px 600px;
    background-color: #D75382;
}

/*HEADER*/
header h1 {
    font-family: 'Jomhuria', serif;
    font-weight: 400;
    font-size: 110px;
    color:#fff0f0;
    margin:0;
    padding:none;
    
}

header h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:#fff0f0;
    margin:0;
    margin-top: -40px;
    padding:none;
}

.fas {
    font-size:62px;
}

header{
    padding:20px;
}

/*SITE PHOTO*/

#sitePhoto {
    margin:auto;
    padding:20px;
}


/*FORM*/

form {
    background-color:#ffd1e1;
    padding:15px;
    text-align:center;
}

label {
    color:rgb(67, 13, 48);
}

input {
    color:#a82955;
    background-color: #f1dfff;
    border-color:#e45e8d;
    border-radius:10px;
}

input[type="submit"] {
    background-color:#a82955;
    color:azure;
}
