
#container {
    width: 1200px;
    background-image:url(images/stars.png);
    margin:auto;
    background-size:50%;

}

body {
    color: rgb(215, 217, 250);
    transition-duration:2s; 
    animation:colorAnimation 5s infinite alternate;
    font-family:"Kiwi Maru", serif;
    font-weight: 400;
    font-size:14px;

}

h1 {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-size: 40px;
    color: rgb(250, 255, 185);
    padding:15px;
    text-align:center;


}


@keyframes colorAnimation {
    0% {
        background-color:#1b1a1e;
    }
    50% {
        background-color:rgb(22, 20, 66);
    }
    100%{
        background-color:rgb(31, 36, 53);
    }
}


button {
    background-color:bisque;
    padding:10px;
    border-radius: 5px;
    border:none;
    display:block;
    margin-left: auto;
    margin-right: auto;

}

button:hover {
    background-color:rgb(162, 255, 224);
}


#instructions {
    width: 800px;
    text-align:center;
    margin:auto;
    font-size:12px;
}


#game {
    margin:auto;
}

#game img {
    width:90px;
}

#game img.large {
    width:130px
}

#top {
    padding:20px;   

}

#layout {
    display:grid;
    grid-template-columns: 400px 400px 400px;
    align-items:end;
}

#actions {
    display:flex;
    justify-content: center;
    padding:30px;
}


#gamecontrol {
    padding:20px;
}

#audio {
    text-align:center;
    color:#1b1a1e;
}



#overlay {
    position:absolute;
    background-color: rgba(142, 82, 255, 0.9);
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:55vw;
    height: 75vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    display:flex;
    align-items:center;
    padding:20px;
    border-radius: 8px;
}

.hidden {
    visibility:hidden;
    opacity:0;
}

.showing {
    visibility: visible;
    opacity:1;
}
