/*OVERALL*/
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height:100vh;
}

h1 {
    font-family: 'Jomhuria', serif;
    font-weight: 400;
    font-size: 140px;
    color:#fff0f0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color:#fff0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* main page */
#firstarrow {
    margin-left: 460px;
    margin-top: 150px;
    font-size:30px;
    color:#FFCED6;
}

/* standard pages */
#secondarrow {
    margin-left:80px;
    margin-bottom: 45px;
    font-size:30px;
    color:#ff2273;
}

/* opp page */
#thirdarrow {
    margin-left:80px;
    margin-top: -245px;
    font-size:30px;
    color:#ffcadf;
}

#firstquote {
    margin-left: -60px;
    margin-bottom: -30px;
    color:#5d152e;
}

#secondquote {
    margin-left: 147px;
    margin-bottom: -40px;
    color:#5d152e;
}

#thirdquote {
    margin-left: 147px;
    margin-bottom: -60px;
    color:#5d152e;
}

#fourthquote {
    margin-left: 147px;
    margin-bottom: -40px;
    color:#5d152e;
}

/*SECTIONS*/
section {
    height: 100vh;
    display:flex;
    justify-content: center;
    margin:auto;
    scroll-snap-align:start;
    align-items:center;
    gap:60px;
   
}

.sec1 {
    background-color:#ff2273;
    
}


.sec2 {
    background-color: #FFCED6;
 
}

.sec3 {
    background-color: #E2ABBF;
}


.sec4 {
    background-color: #f15a92;
}

.sec5 {
    background-color:#FFCED6;
}


/*FORM*/

form {
    padding:15px;
}

label {
    color:rgb(67, 13, 48);
}

input {
    color:#a82955;
    background-color: #f1dfff;
    border-color:#e45e8d;
    border-radius:10px;
    padding:10px;
    margin-bottom:25px;
    display:block; 
    
}

input[type="text"] {
    font-size: 16px;
    
}

input[type="submit"] {
    background-color:#a82955;
    color:azure;
    margin-top:20px;
}

#submitButton:hover {
    background-color: #ee3377;
}

/*MADLIB*/


.showMadlib {
    display:flex;
    justify-content:center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    gap:40px;
    background-color: #f1dfff;
}


/*PROFILE*/

.showMadlib #toast {
    padding:30px;
    padding-bottom:75px;
    background-color:rgb(254, 255, 240);
    margin-top:15px;
    margin-left: 58px;
    height:450px;
}

.imageCont {
    position: relative;
    gap:15px;
    padding:24px;
    border-radius: 10px;
}

.showMadlib h2 { /*This is the name and age on profile.*/
    font-family: 'Jomhuria', serif;
    font-weight: 400;
    font-size:44px;
    color:rgb(64, 66, 38);
    position: absolute;
    bottom: 26px;
    left: 198px;
}

.bioCont{
    width:600px;
    background-color: #fff0f0;
    padding:15px;
    border-radius:8px;
}

.results {
    display:flex;
}

#note {
    margin-bottom:19px;
}


/*This keyframe animation moves the loaf and toast*/
#loafy:hover {
    animation-name:animation1;
    animation-iteration-count: infinite;
    animation-duration:2s;
}


#toasty:hover {
    animation-name:animation1;
    animation-iteration-count: infinite;
    animation-duration:2s;
}

@keyframes animation1{
    0% {
        transform:rotate(0deg);
    }
    25% {
        transform:rotate(45deg);
    }
    50% {
        transform:rotate(0deg);
    }
    75% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg); 
    }
}

.floaty {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 20px); }
    100%   { transform: translate(0, -0px); }    
}





