/*OVERALL BODY*/

body {
    margin:auto;
    width:1200px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/*FONTS*/
header h1 {
    font-family: 'Jomhuria', serif;
    font-weight: 400;
    font-size: 128px;
    color:#fff0f0;
    margin:0;
    /* margin-bottom: -10px; */
    padding:none;
    
}

header h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:#fff0f0;
    margin:0;
    margin-top: -40px;
    padding:none;
}

.fas {
    font-size:62px;
}


/*HEADER*/
header {
    width:1200px;
    height:150px;

    background-color: #cf3c5e;
    margin:auto;
    text-align:center;

}

.fas fa-arrow-down {
    right: 100px;
}

/*MAIN CONTENT*/
main {
    background-color:#fedeff;
    padding:10px;
    height:500px;
    position: relative;
}

#questions {
    display:flex;
    justify-content:center;
    margin:auto;
    gap:50px;
}

#button input {
    margin:auto;
}

.madlib {
    display:none;
}

.showMadlib {
    display:flex;
    justify-content:center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: #fedeff;
    gap:40px;
}

input {
    display:block;
}

/*PROFILE*/

.showMadlib #toast {
    padding:30px;
    padding-bottom:75px;
    background-color:rgb(254, 255, 240);
    margin-top:15px;
    margin-left: 58px;
}

.imageCont {
    position: relative;
}


.showMadlib h2 { /*This is the name and age on profile.*/
    font-family: 'Jomhuria', serif;
    font-weight: 400;
    font-size:44px;
    color:rgb(64, 66, 38);
    position: absolute;
    bottom: -8px;
    left: 218px;
}

/*BIO*/
.bioCont {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-right:45px;
    padding:none;
}

.showMadlib p{
    font-size:24px;
    color:rgb(64, 66, 38);
    background-color:rgb(254, 255, 240);
    width:84%;
    padding:30px;
    margin-top:10;
    margin-bottom:0;
    border-radius:10px;
}

.showMadlib h3{
    font-family: 'Jomhuria', serif;
    font-weight: 400;
    font-size:44px;
    color:#cf3c5e;
    margin-bottom:-30px;
    margin-top:12px;
}


/*CHOOSING*/

#choose {
    display:flex;
}


/*This keyframe animation moves the loaf and toast*/
#loafy:hover {
    animation-name:animation1;
    animation-iteration-count: infinite;
    animation-duration:2s;
}


#toasty:hover {
    animation-name:animation1;
    animation-iteration-count: infinite;
    animation-duration:2s;
}

@keyframes animation1{
    0% {
        transform:rotate(0deg);
    }
    25% {
        transform:rotate(45deg);
    }
    50% {
        transform:rotate(0deg);
    }
    75% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg); 
    }
}

span {
    font-weight:700px;
}



