body {
    margin:auto;
    padding: 0;
    width: 1200px;
    background-color:#c8ffff;
    background-image:url(images/catvendingmachine.png);
    background-size:70%;
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: 50px;

    text-align:center;
    font-family: "K2D", sans-serif;
    font-weight:700;
    font-size: 22px;
    color:rgb(23, 23, 104);
    

}

header h1 {
    font-family: "K2D", sans-serif;
    font-weight:700;
    font-size: 64px;
    color:#416cda;
    margin-top: 20px;

}

header h2 {
    font-family: "K2D", sans-serif;
    font-weight:700;
    font-size: 28px;
    padding:none;
    margin-top:-40px;
    color:#416cda;
}

button{
    background-color: #7199FF;
    color:azure;
    font-family: "K2D", sans-serif;
    font-weight:700;
    font-size:18px;
    stroke: none;
    margin-top:240px;
    padding:10px;
}

#overlay {
    position:absolute;
    background-color: rgba(0,0,0,0.5);
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.hidden {
    visibility:hidden;
    opacity:0;
}

.showing {
    visibility: visible;
    opacity:1;
}


