body {

    padding: 0;
    text-align:center;
    font-family: "K2D", sans-serif;
    font-weight:700;
    font-size: 13px;
    color:rgb(23, 23, 104);

    transition-duration:2s; 
    animation-iteration-count:animation1 10s infinite;
    animation:colorAnimation 5s infinite alternate;
    overflow:hidden;
}

#container {
    width: 1200px;
    height:750px;
    background-image:url(images/catvendingmachine.png);
    background-size:55%;
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: 50px;
    margin:auto;
}

@keyframes colorAnimation {
    0% {
        background-color:#c8ffff;
    }
    25% {
        background-color:rgb(114, 247, 200);

    }
    50% {
        background-color:rgb(156, 234, 255);

    }
    75%{
        background-color:rgb(251, 205, 255);

    }
    100%{
        background-color:rgb(217, 190, 255);
    }
}


header h1 {
    font-family: "K2D", sans-serif;
    font-weight:700;
    font-size: 64px;
    color:#416cda;
    margin-top: 20px;

}

header h2 {
    font-family: "K2D", sans-serif;
    font-weight:700;
    font-size: 28px;
    padding:none;
    margin-top:-40px;
    color:#416cda;
}

button{
    background-color: #7199FF;
    color:azure;
    font-family: "K2D", sans-serif;
    font-weight:700;
    font-size:15px;
    stroke: none;
    margin-top:100px;
    padding:8px;
}

button:hover {
    background-color: #ff6be4;
}

#overlay {
    position:absolute;
    background-color: rgba(0,0,0,0.5);
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:75vw;
    height: 75vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.hidden {
    visibility:hidden;
    opacity:0;
}

.showing {
    visibility: visible;
    opacity:1;
}




